.banner-section {
  height: 25vh;
}

.banner-section h1,
.banner-section p,
.banner-section .banner-form {
  text-align: left !important;
}

.result-section img {
  width: 194px;
}

.right-container {
  border-left: 1px solid gray;
}

.right-container > div {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.right-container > p {
  margin-left: 30px;
}

.left-container {
  margin-right: 10px;
}

.nav-footer {
  margin-top: 30px;
  margin-bottom: 80px;
}

a {
  color: #383838;
}

.nav-footer a,
.gay-link {
  color: #383838 !important;
}
