a {
  text-decoration: none;
}

.no-border {
  border-radius: 0;
  height: 38px;
}

.navbar img,
.footer-top .logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar .logo,
.footer-top .logo {
  border: 2px solid #d35266;
}

.link-logo {
  color: #fff;
}

.home {
  color: #d35266;
}

.btn-post {
  color: #fff;
  background-color: #d35266;
  border-radius: 0;
}

.white-link {
  color: #fff;
}

.color-red {
  color: #d35266;
}

.background-red {
  background-color: #d35266;
}

.background-maron {
  background-color: #383838;
}

.banner-section {
  height: 50vh;
}

.ads-section {
  height: 25vh;
}

.ads-section img {
  height: 190px;
}

.banner-div {
  margin-bottom: 40px;
}

section {
  margin-bottom: 10px;
}

.best-seller .carousel-div,
.sales .carousel-div,
.brand-new .carousel-div {
  width: 20%;
  padding: 5px;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .ads-element {
    width: 100% !important;
  }

  .ads-section {
    height: 55vh;
  }
}
